body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.box{
  width: 100px;
  height: 100px;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: moveBox;
  animation-duration: 1s;
  animation-delay: 1ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
/* drection = normal, reverse, alternate-rev */
/* animation: moveBox 2s ease-in-out 1s infinite alternate; */
/* animation-timing-function : linear, ease , ease in , ease out, */
/* @keyframes moveBox {
  from {
    transform: translateX(0) ;
  }
  to {
    transform: translateX(300px);
  }
} */
@keyframes moveBox {
  0% {
    transform: translateX(0);
    background: red;
  }
  50% {
    transform: translateX(150px);
    background: rgba(246, 10, 238, 0.533);
  }
  100% {
    transform: translateX(300px);
    background: rgb(32, 61, 226);
  }
}
